.header 
    .header 
        a(href="#")
            img(src="images/logo.png", alt="логотип")
        nav     
            ul.nav 
                li.nav__button
                    a(href="#").nav-link О нас
                li.nav__button
                    a(href="#").nav-link Услуги 
                li.nav__button
                    a(href="#").nav-link Вакансии     
                li.nav__button
                    a(href="#").nav-link Новости  
                li.nav__button
                    a(href="#").nav-link Соглашения      
                li.nav__button
                    a(href="#").nav-link Войти     
                li.nav__button
                    a(href="#").nav-link Зарегистрироваться     